# Binaries
*.o
*.so
*/*.o
*/*/*.o
*.a
*.framework
*.exe
*.dll
*.pdb
build/
CMakeLists.txt.user
cmake_install.cmake
*.orig
*.cbp
*.dsw
*.vsxproj
*.vsproj
*.sln

# Annoying system files
._DS_Store
.DS_Store
Thumbs.db*

.vscode
