[submodule "dependencies/afterburner-engine"]
	path = dependencies/afterburner-engine
	url = https://github.com/x6herbius/afterburner-engine.git
[submodule "miniutl"]
	path = miniutl
	url = https://github.com/FWGS/miniutl
